# 3X-UI + Xray VLESS Reality for Happ (iOS)
XUI_PANEL_PORT=2053
XUI_PUBLIC_PORT=2083
XRAY_INBOUND_PORT=8444
XUI_USERNAME=admin
XUI_PASSWORD=
REALITY_DEST=www.microsoft.com:443
REALITY_SNI=www.microsoft.com
REALITY_FINGERPRINT=chrome
SUB_PATH=xray-sub
SERVER_IP=153.80.246.217
